
{{define "content"}}
    <div class="navigator">
        <div class="navigator-item">
            <a href="/tables">Tables</a>
        </div>
        {{with .Navigator}}
            {{if .ShowObjectsPath}}
                <div class="arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="arrow-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg>
                </div>
                <div class="navigator-item"><a href="#">Objects</a></div>
                <div class="outer-btn-area">
                    {{if .ShowCheckBox}}
                        <div id="checkboxArea">
                            <input id="checkboxAll" type="checkbox" onclick="selectAllObjects(this.checked)">
                            <span>Select All</span>
                        </div>
                    {{end}}
                    <div id="addBtn" class="openModalBtn" data-tableName="{{.TableName}}">Add
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                        </svg>
                    </div>
                    <div id="deleteBtn" data-tableName="{{.TableName}}">Delete</div>
                </div>
            {{end}}
        {{end}}
    </div>
    <div class="header-line"></div>
    <div class="element-list">
        {{with .Data}}
            {{- range .Tables}}
                <a href="/tables/{{.}}">
                    <div class="table-data" data-tableName="{{.}}">
                        <span>{{.}}</span>
                    </div>
                </a>
            {{end}}
            {{- range .Objects}}
                <div class="object-data">
                    <input class="object-checkbox" type="checkbox" onclick="selectObject(this.checked, '{{.}}')">
                    <span class="openModalBtn" data-objectId="{{.}}" data-tableName="{{with $.Navigator}}{{.TableName}}{{end}}">
                        {{with $.Navigator}}{{.TableName}} - {{end}}(ID: {{.}})
                    </span>
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}